/* src/App.css */
/* .App {
  text-align: center;
} */


:root{
  --primary-color: #0d6efd ;
}

.primary-color{
  color: var(--primary-color);
}

.header {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.hero {
  /* Replace with ybackground-image: url('your-hero-image.jpg'); our image */
  background-size: cover;
  color: white;
  padding: 100px 0;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.cta {
    background-color: #f0f0f0;
    padding: 40px;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}